body{
    background-color: #90020b;
    font-family: 'Courier New', Courier, monospace;
}
header{
    text-align: center;
    color: #160505;
    font-size: 30px;
}
#wrap{
    float:center;
}

nav ul{
    border: 0;
    border-radius: 20px;
    background-color: #160505;
    padding: 5px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    
}
nav ul li{  
    
    display: grid;
    text-align: center;

}
 nav ul li a{
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
    color:white;
 }
#wrap{
    background-color: #160505;
    color: white;
    margin-left: 3%;
    border: 0, solid;
    border-radius: 25px;
    padding: 20px;
    width: 80%;
}
h2{
    text-align: center;
}
p{
    font-size: 18px;
    
}
aside{
    color: white;
    background-color: rgb(62, 6, 6);
    border: 0, solid;
    border-radius: 25px;
    padding: 20px;
    margin-left: 4%;
    width: 80%;
    
}
aside ol{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
}

aside ol a{
    text-decoration: none;
    color:white;
}
aside ul li{
    padding-bottom: 10px;
}
img{
    display:none;
}

#shoot{
    padding:5%;
}
#race{
    padding:5%;
}
#rpg{
    padding:5%;
}
footer ul li{  
    
    display: inline-block;
    text-align: center;
    color:white;

}

#Email{

    text-decoration: none;
    padding-left: 3%;
    color:white;
}
footer ul li a:link {
    color: white;
  }
  
  /* visited link */
  footer ul li a:visited {
    color: white;
  }





@media screen and (min-width: 425px){
    header{
        margin-left: 5%;
    }
    nav{
        width: 80%;
        margin: 0px auto;
    }

    #wrap{
        margin: 0px auto;
    }
    nav ul{
        
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: auto;
    }
    nav ul li{  
    
        display: inline-block;
        text-align: center;
    
    }

    img{
        display:grid;
        float:right;
        max-width: 60%;
        max-height: 60%;
    };
    
    ol{
        display:grid;
        
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }
}





@media screen and (min-width:768px){

    #wrap{
        display: grid;
        grid-template-columns: 33% 66%;
    }
    aside ol{
        display:grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    
    nav ul{
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: auto;
    }
    nav ul li{  
    
        display: inline-block;
        text-align: center;
    
    }
    img{
        float: left;
        max-width: 100%;
    }
}